{
  "presets": [
    [
      "env",
      {
        "modules":"commonjs"
      }
    ],
    "stage-0",
    "flow",
    "jest"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "async-to-promises"
  ]
}