.App h1 {
  text-align: center;
}

.Up {
  height: 300px;
  margin: 10px;
}

.Down {
  height: 200px;
  margin: 5px;
}

.ErrorMessage {
  border: 1px solid red;
  height: 200px;
}

.Task-Table, .Task-Table ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Task-Table li {
  float: left;
}

.Inside-Task-Table {
  position: relative;
  width: 200px;
  list-style: none;
}

.Inside-Task-Table li > span{
  float: left;
}